body {
    display:flex;
    flex-direction:column;
    margin: 0%;
}

header{
    height:200px;
    display:flex;
    align-items:center;
    background-color: #4a6741;
}

nav{
    display:flex;
    list-style-type: none;
    justify-content:flex-end;
    flex: 1;
}

a{
    text-decoration: none;
}

.avatar-img {
    height:150px;
    border-radius:50px;
    border:5px solid red;
}

.content{
    display:flex;
}

.project{
    display:flex;

}

#main-project{

}

#contact-info {

}