body {
    margin: 0%;

}

header{
    height:200px;
    display:flex;
    align-items:center;
    background-color: #4a6741;
    color: 	white;
}

nav{
    display:flex;
    list-style-type: none;
    justify-content:center;
    flex: 1;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left:50px;
    margin-right: 50px;
}

.avatar-img {
    height:150px;
    border-radius:50px;
    border:5px solid red;
}

section{
    display:flex;
}

.section-title{
    width: 25%;
}

.content{
    display:flex;
    width: 75%;
}


.project{

}

#main-project{
    
}

#contact-info {
    display:flex;
    background-color:#4a6741;
    align-items: center;
}